node_modules/
dist/
dist-electron/
release/
.build-tmp/
.tmp-*/
logs/

release-debug*/
release-inner*/
release-bootstrapper-*/

bootstrapper/payload/*.exe

rust/target/

*.log
*.tmp
.DS_Store
Thumbs.db
